
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>

                <div class="panel-body">
                    <form class="form-horizontal" ng-submit="klik()">


                        <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Ime tima: </label>

                            <div class="col-md-6">
                                <input  ng-model = "name" type="text" class="form-control" name="name" value="" required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" ng-model = "password" type="password" class="form-control" name="password" required>


                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control"  ng-model = "password_confirmation" name="password_confirmation" required>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Ime prvog člana: </label>

                            <div class="col-md-6">
                                <input ng-model = "name_member_1" type="text" class="form-control" name="name_member_1" value="" required autofocus>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Prezime prvog člana: </label>

                            <div class="col-md-6">
                                <input  ng-model = "surname_member_1" type="text" class="form-control" name="surname_member_1" value="" required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email prvog člana: </label>

                            <div class="col-md-6">
                                <input  type="email" name = "mail_1" ng-model="mail_1" class="form-control"  value="" required>


                            </div>
                        </div>
                        <br><hr>
                        <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Ime drugog člana: </label>

                            <div class="col-md-6">
                                <input  ng-model = "name_member_2" type="text" class="form-control" name="name_member_2" value="" required autofocus>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Prezime drugog člana: </label>

                            <div class="col-md-6">
                                <input  ng-model = "surname_member_2" type="text" class="form-control" name="surname_member_2" value="" required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email drugog člana: </label>

                            <div class="col-md-6">
                                <input id="email2" type="email" name = "mail_2" ng-model="mail_2" class="form-control"  value="" required>


                            </div>
                        </div>
                        
                        <br><hr>
                           <div class="form-group">
                            <label  for="name3" class="col-md-4 control-label">Ime trećeg člana: </label>

                            <div class="col-md-6">
                                <input id="name" ng-model = "name_member_3" type="text" class="form-control" name="name_member_3" value="" required autofocus>

                            </div>
                        </div>
                            <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Prezime trećeg člana: </label>

                            <div class="col-md-6">
                                <input id="name3" ng-model = "surname_member_3" type="text" class="form-control" name="surname_member_3" value="" required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email trećeg člana: </label>

                            <div class="col-md-6">
                                <input id="email3" type="email" name = "mail_3" ng-model="mail_3" class="form-control"  value="" required>


                            </div>
                        </div>
                        
                        <br><hr>
                           <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Ime četvrtog člana: </label>

                            <div class="col-md-6">
                                <input  ng-model = "name_member_4" type="text" class="form-control" name="name_member_4" value="" required autofocus>

                            </div>
                        </div>
                            <div class="form-group">
                            <label  for="name" class="col-md-4 control-label">Prezime četvrtog člana: </label>

                            <div class="col-md-6">
                                <input id="name4" ng-model = "surname_member_4" type="text" class="form-control" name="surname_member_4" value="" required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">Email četvrtog člana: </label>

                            <div class="col-md-6">
                                <input id="email4" type="email" name = "mail_4" ng-model="mail_4" class="form-control"  value="" required>


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button ng-click="" type="submit" class="btn btn-primary">
                                    Register
                                </button>
                                
                                <p id="subb" class="btn btn-primary"> salji proba</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

